.header__title {
   width: 730px;
   font-size: 102px;
   line-height: 96px;
   position: relative;
   left: 64px;
   margin: 0;
   margin-top: auto;
   margin-bottom: auto;
   font-weight: bold;
   z-index: 2;
}